body {
    background-color: #0050a5;
    color: white;
}

p {
    background-color: #0050a5;
    color: white;
}

.ur {
    background-color: #d50716;
    color: white;
}

button {
    border-radius: 12px;
    background-color: #0050a5;
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 10px;
    text-align: center;
}